<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CUENTAS</span>
                    <button class="btn btn-success float-end" routerLink="/cuentas/crear">Nuevo</button>
                    <table class="table table-striped mt-3" *ngIf="cuentas.length > 0">
                      <thead>
                        <tr>
                          <th scope="col">Cuenta</th>
                          <th scope="col">Gestor</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cuenta of cuentas">
                          <td>{{ cuenta.nombre }}</td>
                          <td>{{ cuenta.gestor }}</td>
                          <td>
                              <i class="bi bi-pencil" [routerLink]="['/cuentas/editar', cuenta._id]"></i>
                              <i class="bi bi-trash" (click)="eliminarCuenta(cuenta._id)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="cuentas.length == 0" class="text-start mx-2 my-4">No hay cuentas informadas</div>
                </div>
            </div>
        </div>
    </div>
</div>
