<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo }}</span>
                    <form class="mt-3" [formGroup]="cuentaForm" (ngSubmit)="modificarCuenta()">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                            <div class="text-danger text-start"
                                *ngIf="cuentaForm.get('nombre')?.hasError('required') && cuentaForm.get('nombre')?.touched">
                                <div class="py-1">El nombre es <strong>obligatorio</strong></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Gestor" formControlName="gestor">
                            <div class="text-danger text-start"
                                *ngIf="cuentaForm.get('gestor')?.hasError('required') && cuentaForm.get('gestor')?.touched">
                                <div class="py-1">El gestor es <strong>obligatorio</strong></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" [disabled]="cuentaForm.invalid" class="btn btn-success float-start">Aceptar</button>
                            <button class="btn btn-dark float-end" routerLink="/cuentas">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>