/* You can add global styles to this file, and also import other style files */

body {
    background: url("./assets/img/field.png") no-repeat fixed center / cover;
    font-family: 'Rubik-light', sans-serif;
}

.titulo {
    font-size: 1.8rem;
    font-family: 'PermanentMarker', sans-serif;
}


/* FONTS */
@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.rubik { font-family: 'Rubik', sans-serif; }

@font-face {
    font-family: 'Rubik-light';
    src: url('./assets/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.rubik-light { font-family: 'Rubik-light', sans-serif; }

@font-face {
    font-family: 'Rubik-bold';
    src: url('./assets/fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.rubik-bold { font-family: 'Rubik-bold', sans-serif; }

@font-face {
    font-family: 'PermanentMarker';
    src: url('./assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.permanentmarker { font-family: 'PermanentMarker', sans-serif; }

